@import url('https://fonts.googleapis.com/css?family=Raleway+Dots');

body {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  color: $text;
  margin-left: 20px;
  padding: 0;
}

h1 {
  font-family: 'Raleway Dots', cursive;
  font-size: 80px;
  color: #C4E7D4;
  padding: 10px;

}

h2 {
  font-family: 'Raleway', sans-serif;
  color: #B9C0DA;
  font-size: 30px;

}

h3 {
  font-size: 20px;
  color: #B9C0DA;
  padding-top: 40px;
}

p {
  color: $text;
}

a {
  color: $clickable;
  transition: color $hover-timing ease;
  &:hover {
    color: darken($clickable, 6%);
  }
}
